* {
  box-sizing: border-box;
}

li:focus {
  background-color: #8b4000;
  font-weight: bold;
}

body {
  background: linear-gradient(
    90deg,
    rgba(255, 216, 3, 1) 14%,
    rgba(255, 169, 0, 1) 48%,
    rgba(251, 91, 1, 1) 100%
  );
}

.search-container {
  margin: 1rem auto;
  text-align: center;
  width: calc(100% - 2rem);
  padding-bottom: 20%;
}

.search-container input,
.search-container .suggestions {
  font-family: Arial, Helvetica, sans-serif;
}

.search-container .suggestions {
  text-align: left;
  width: 33.334%;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: left;
}
ul li:hover {
  background-color: #fea400;
  font-weight: bold;
}

input {
  margin-top: 20%;
  padding: 10px;
  border-radius: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: 33.334%;
}
